.not_found{
    margin:30px auto;
    width: 70%;
    text-align: center;
}
.not_found h1{
    color:#323232;
    font-size:200px;
}

.not_found h3{
    color:rgb(49, 49, 49);
    font-size: 30px;
}

.not_found p{
    font-size: 20px;
    font-weight: 700;
    color:darkgrey
}