.contact{
    position: fixed;
    bottom:10px;
    right: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 5px 0px;
    padding:5px;
    border-radius: 12px;
    background-color: #f8f8f8;
}
.contact  svg{
    margin:0px 10px;
}
.contact > span{
    display: block;
    margin:8px 0px;
    color:#b5b5b5
}
.contact span a{
     color:#b5b5b5
}

.contact_responsive{
    position: static;
    background-color: transparent;
    box-shadow: none;
    top:auto;
    bottom: auto;
    border-top: 1px solid #ccc;
    border-radius: 0;
    width: 100%;
}
.contact_responsive > span,.contact_responsive span a{
    color:#fff;
}