.order_history{
    width: 80%;
    margin:20px auto;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.orders_table{
    padding:15px;
    border-collapse: collapse;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.orders_table tr{
    position: relative;
    border-bottom:1px solid #eee;
    background-color: #3c373d;
    height: auto;
}
.order_history tr:nth-child(even){
    background-color: #3a343b;
}
.orders_table tbody tr:hover > td{
    color:#ef7215;
}

.orders_table th{
    font-size: 20px;
    font-weight: 900;
    color:#e4e1e4;
    padding:12px 0px;
}
.orders_table td{
    text-align: center;
    color:#e4e1e4;
    font-size: 19px;
    cursor: pointer;
    padding:10px;
}